.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  // or put width into 40
}

.navbar-lewagon .nav-link img {
  height: 40px;
}

.fix-static {
  padding-top: 60px;
}
