/* DARK TO LIGHT
** 51564A
** 6A9278
** 8DA88C
** CCDABD rgb(224, 239, 208)
** F4DBA5
*/

#image-show {
}

.shadow-light {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.hidden {
  display: none;
}

.custom-container {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  background-color: rgba(224, 239, 208, 0.5);
}
